{% extends 'layout.njk' %}


{% block head %}
    <link rel="stylesheet" href="/styles/gerenciamento.css">
    <link rel="stylesheet" href="/styles/criar.css">
    <title>Acadmin - Novo Pagamento </title>
{% endblock %}


{%block menu%}
    <aside>
        <nav class="ativo" id="left-menu">
            <div class="logo">
                <img src="/img/acadmin3.png" alt="Acadmin Logo">
            </div>
            <ul>
                <li class="list">
                    <a href="/acadmin">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title">Home</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/acadmin/cadastro">
                        <span class="icon"><ion-icon name="person-add-outline"></ion-icon></span>
                        <span class="title">Cadastro</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/acadmin/agendamento">
                        <span class="icon"><ion-icon name="calendar-number-outline"></ion-icon></span>
                        <span class="title">Agendamento</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/acadmin/gerenciamento">
                        <span class="icon"><ion-icon name="business-outline"></ion-icon></span>
                        <span class="title">Gerenciamento</span>
                    </a>
                </li>
                <li class="list  active">
                    <a href="/acadmin/financeiro/pagamentos">
                        <span class="icon"><ion-icon name="cash-outline"></ion-icon></span>
                        <span class="title">Financeiro</span>
                    </a>
                </li>
                <li class="list">
                    <a href="#">
                        <span class="icon"><ion-icon name="arrow-forward-circle-outline"></ion-icon></span>
                        <span class="title">Sair</span>
                    </a>
                </li>
            </ul>               
        </nav>
        <div class="open">></div>
    </aside>
{%endblock%}

{%block content%}

        <h1>Nova Cobrança</h1>

        <div class="ver-menu">
            <ul>
                <li><a href="/acadmin/financeiro/pagamentos">Pagamentos</a> ></li>
            </ul>
            <ul>
                <li> <a href="/acadmin/financeiro/criar/search">Cliente</a>  > </li>
            </ul>
            <ul>
                <li> Nova Cobrança </li>
            </ul>
        </div>

        <div class="form-wrapper">
            <form action="/acadmin/financeiro/criar-novo/pagamento/{{cliente.id}}" method="POST">
          
                <div class="input-wrapper">
                    <label for="cliente">Cliente</label>
                    <select class="disabled"  name="cliente" id="cliente">
                        <option selected value="{{cliente.id}}">{{cliente.nome}} {{cliente.sobrenome}}</option>
                        
                    </select>
                </div>

                <div class="input-wrapper">
                    <label for="tipo">Tipo de  cobrança</label>
                    <select  name="tipo" id="tipo">
                        {% for tipo in tipos %}
                        <option value="{{tipo}}">{{tipo}}</option>
                        {% endfor %}
                    </select>
                </div>

            <div class="input-wrapper">
                <label for="dataEmissao">Data de emissao:</label>
                <input type="date" name="dataEmissao" id="dataEmissao" required>
            </div>
            <div class="input-wrapper">
                <label for="dataVencimento">Data de Vencimento:</label>
                <input type="date" name="dataVencimento" id="dataVencimento" required>
            </div>
            <div class="input-wrapper">
                <label for="valor">Valor:</label>
                <input type="number" name="valor" id="valor" required>
            </div>
           


            <button type="submit" id="cobrança">Gerar Cobrança</button>

            </form>
        </div>
                
{%endblock%}



{%block scripts%}
{%endblock%}