{% extends "layout.njk" %}



    {% block head %}
     <link rel="stylesheet" href="/styles/gerenciamento.css">
     <link rel="stylesheet" href="/styles/criar.css">
            <title>acadmin - Agendamento</title>
    {% endblock %}

    {%block menu%}
    <aside>
        <nav class="ativo" id="left-menu">
            <ul>
                <li class="list">
                    <a href="/dashboard">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title">Home</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/dashboard/cadastro">
                        <span class="icon"><ion-icon name="person-add-outline"></ion-icon></span>
                        <span class="title">Cadastro</span>
                    </a>
                </li>
                <li class="list active">
                    <a href="/dashboard/agendamento">
                        <span class="icon"><ion-icon name="calendar-number-outline"></ion-icon></span>
                        <span class="title">Agendamento</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/dashboard/gerenciamento">
                        <span class="icon"><ion-icon name="business-outline"></ion-icon></span>
                        <span class="title">Gerenciamento</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/dashboard/financeiro">
                        <span class="icon"><ion-icon name="cash-outline"></ion-icon></span>
                        <span class="title">Financeiro</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/dashboard/relatorios">
                        <span class="icon"><ion-icon name="folder-outline"></ion-icon></span>
                        <span class="title">Relatorios</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/login">
                        <span class="icon"><ion-icon name="arrow-forward-circle-outline"></ion-icon></span>
                        <span class="title">Sair</span>
                    </a>
                </li>
            </ul>               
        </nav>
        <div class="open">></div>
    </aside>
    {%endblock%}

    {%block content%}
       <h1>Escolha uma modalidade</h1>

        {% for mensagem in msgErro %}

                <div class="alert-box deleted">
                    <p>{{mensagem}}</p>
                    <button class="close-alert"><ion-icon name="close"></ion-icon></button>
                </div>

        {% endfor %}
        
        {% for mensagem in msgSucesso %}

                <div class="alert-box sucesso">
                    <p>{{mensagem}}</p>
                    <button class="close-alert"><ion-icon name="close"></ion-icon></button>
                </div>

        {% endfor %}

      <div class="ver-menu">
            <ul>
                <li><a href="/dashboard/agendamento">Agendamentos</a> ></li>
            </ul>

             <ul>
                <li><a  href="/dashboard/agendamento/criar/search">Cliente</a> ></li>
            </ul>
             <ul>
                <li> Modalidade </li>
            </ul>
        </div>



        <div class="form-wrapper">
            <form action="/dashboard/agendamento/criar/modalidade" method="POST">
          
                <div class="input-wrapper">
                    <label for="cliente">Cliente</label>
                    <select class="disabled"  name="cliente" id="cliente">
                        <option selected value="{{cliente.id}}">{{cliente.nome}} {{cliente.sobrenome}}</option>
                        
                    </select>
                </div>

                <div class="input-wrapper">
                    <label for="modalidade">Modalidade</label>
                    <select name="modalidade" id="modalidade">
                        <option></option>
                        <option value="Boxe">Boxe</option>
                        <option value="FitDance">FitDance</option>
                        <option value="Musculacao">Musculação</option>
                        <option value="Jiu Jitsu">Jiu Jitsu</option>
                        <option value="Natacao">Natação</option>
                        <option value="Pilates">Pilates</option>
                    </select>
                </div>
            </form>
        </div>
    {% endblock %}

    {%block scripts%}
        <script src="/scripts/modalidade.js"></script>
<script src="/scripts/flashmsg.js"></script>

    {%endblock%}