{% extends "layout.njk" %}

{% block head %}
        <link rel="stylesheet" href="/styles/gerenciamento.css">
        <link rel="stylesheet" href="/styles/table.css">
        <title>acadmin - Gerenciamento</title>
{% endblock %}

{%block menu%}
    <aside>
        <nav class="ativo" id="left-menu">
            <div class="logo">
                <img src="/img/acadmin3.png" alt="Acadmin Logo">
            </div>
            <ul>
                <li class="list">
                    <a href="/dashboard">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title">Home</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/dashboard/cadastro">
                        <span class="icon"><ion-icon name="person-add-outline"></ion-icon></span>
                        <span class="title">Cadastro</span>
                    </a>
                </li>
                <li class="list  active ">
                    <a href="/dashboard/agendamento">
                        <span class="icon"><ion-icon name="calendar-number-outline"></ion-icon></span>
                        <span class="title">Agendamento</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/dashboard/gerenciamento/funcionarios">
                        <span class="icon"><ion-icon name="business-outline"></ion-icon></span>
                        <span class="title">Gerenciamento</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/dashboard/financeiro">
                        <span class="icon"><ion-icon name="cash-outline"></ion-icon></span>
                        <span class="title">Financeiro</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/dashboard/relatorios">
                        <span class="icon"><ion-icon name="folder-outline"></ion-icon></span>
                        <span class="title">Relatorios</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/login">
                        <span class="icon"><ion-icon name="arrow-forward-circle-outline"></ion-icon></span>
                        <span class="title">Sair</span>
                    </a>
                </li>
            </ul>               
        </nav>
        <div class="open">></div>
    </aside>
{%endblock%}

{% block content %}
        <h1 class="ver-title">{{agendamento.clienteNome}} - {{agendamento.dia}} - {{agendamento.horarioComeca}}</h1>
<hr>
        <div class="ver-menu">
            <ul>
                <li><a href="/dashboard/agendamento">Voltar </a></li>
                <li> / {{agendamento.clienteNome}} </li>
            </ul>

             <span>
                <a class="editar" href="/dashboard/agendamento/edit/{{agendamento._id}}">Editar</a>
            </span>
        </div>

     
<div class="table-container">
    
        <div class="table-rows">
                    
                
                    <div class="row">
                        <div class="col col-title" >Cliente</div>
                        <div class="col">
                            {{agendamento.clienteNome}}
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="col col-title" >Instutor</div>
                        <div class="col">
                            {{agendamento.instrutorNome}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-title" >Modalidade</div>
                        <div class="col">
                            {{agendamento.modalidade}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-title" >Dia:</div>
                        <div class="col">
                            {{agendamento.dia}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-title" >Horario Inicio</div>
                        <div class="col">
                            {{agendamento.horarioComeca}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-title" >Horario termina</div>
                        <div class="col">
                            {{agendamento.horarioTermina}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-title" >Status</div>
                        <div class="col">
                            {{agendamento.status}}
                        </div>
                    </div>
                   

        </div>

       
    </div>
        
{% endblock %}
