{% extends "layout.njk" %}

{% block head %}
        <link rel="stylesheet" href="/styles/gerenciamento.css">
        <link rel="stylesheet" href="/styles/edit.css">
        <link rel="stylesheet" href="/styles/modal.css">
        <title>acadmin - Gerenciamento</title>
{% endblock %}

{%block menu%}
    <aside>
        <nav class="ativo" id="left-menu">
            <ul>
                <li class="list">
                    <a href="/dashboard">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title">Home</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/dashboard/cadastro">
                        <span class="icon"><ion-icon name="person-add-outline"></ion-icon></span>
                        <span class="title">Cadastro</span>
                    </a>
                </li>
                <li class="list ">
                    <a href="/dashboard/agendamento">
                        <span class="icon"><ion-icon name="calendar-number-outline"></ion-icon></span>
                        <span class="title">Agendamento</span>
                    </a>
                </li>
                <li class="list active">
                    <a href="/dashboard/gerenciamento/funcionarios">
                        <span class="icon"><ion-icon name="business-outline"></ion-icon></span>
                        <span class="title">Gerenciamento</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/dashboard/financeiro">
                        <span class="icon"><ion-icon name="cash-outline"></ion-icon></span>
                        <span class="title">Financeiro</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/dashboard/relatorios">
                        <span class="icon"><ion-icon name="folder-outline"></ion-icon></span>
                        <span class="title">Relatorios</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/login">
                        <span class="icon"><ion-icon name="arrow-forward-circle-outline"></ion-icon></span>
                        <span class="title">Sair</span>
                    </a>
                </li>
            </ul>               
        </nav>
        <div class="open">></div>
    </aside>
{%endblock%}

{% block content %}
        <h1 class="ver-title">{{FuncionariosAcademia.nome}} {{FuncionariosAcademia.sobrenome}}</h1>
<hr>
        <div class="ver-menu">
            <ul>
                <li><a href="/dashboard/gerenciamento/Funcionarios">Voltar </a></li>
                <li> / {{FuncionariosAcademia.nome}} {{FuncionariosAcademia.sobrenome}} </li>
            </ul>
        </div>




    <form  action="/dashboard/gerenciamento/Funcionarios/edit/{{FuncionariosAcademia._id}}?_method=PUT" method="POST">
        <div class="edit-form">
            <div class="form-field">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" value="{{FuncionariosAcademia.nome}}" placeholder="Primeiro Nome" required>
            </div>

            <div class="form-field">
                <label for="sobrenome">Sobrenome</label>
                <input type="text" class="form-control" id="sobrenome" name="sobrenome" value="{{FuncionariosAcademia.sobrenome}}" placeholder="Sobrenome" required>
            </div>

            <div class="form-field">
                <label for="cpf">CPF </label>
                <input type="text" class="form-control" id="cpf" name="cpf" value="{{FuncionariosAcademia.cpf}}" placeholder="First Name" required>
            </div>

            <div class="form-field">
                <label for="dataNascimento">Data de nascimento</label>
                <input type="text" class="form-control" id="dataNascimento" name="dataNascimento" value="{{FuncionariosAcademia.dataNascimento}}" placeholder="data de nascimento" required>
            </div>

            <div class="form-field">
                <label for="telefone">Telefone</label>
                <input type="text" class="form-control" id="telefone" name="telefone" value="{{FuncionariosAcademia.telefone}}" placeholder="(00) 00000-0000" required>
            </div>

            <div class="form-field">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" name="email" value="{{FuncionariosAcademia.email}}" placeholder="email@email.com" required>
            </div>

            {# <div class="form-field">
                <label for="senha">Senha</label>
                <input type="text" class="form-control" id="senha" name="senha" value="{{FuncionariosAcademia.senha}}" placeholder="digite uma senha" required>
            </div> #}

            <div class="form-field">
                <label for="endereco">Endereço:</label>
                <input type="text" class="form-control" id="endereco" name="endereco" value="{{FuncionariosAcademia.endereco}}" placeholder="Rua blabla, apartamento 00" required>
            </div>

            <div class="form-field">
                <label for="cargo">cargo</label>
                <select name="cargo" id="cargo">
                        <option value="funcionario" selected> Funcionario</option>
                </select>

            </div>

            <div class="form-field">
                <label for="sexo">Sexo</label>
                <select name="sexo" id="sexo">
                    {% if  FuncionariosAcademia.sexo == "Masculino"   %}
                        <option value="Masculino" selected> Masculino</option>
                        <option value="Feminino" >Feminino</option>
                        <option value="Outro" >Outro</option>
                    {% endif %}
                    {% if FuncionariosAcademia.sexo == "Feminino"  %}
                        <option value="Masculino" >Masculino</option>
                        <option value="Feminino" selected>Feminino</option>
                        <option value="Outro" >Outro</option>
                    {% endif %}
                    {% if FuncionariosAcademia.sexo == "Outro"  %}
                        <option value="Masculino" >Masculino</option>
                        <option value="Feminino" >Feminino</option>
                        <option value="Outro" selected>Outro</option>
                    {% endif %}
                </select>

            </div>
            
            <div class="form-field">
                <label for="status">Status</label>
                <select name="status" id="status">
                    {% if FuncionariosAcademia.status == "Ativo" %}
                        <option value="Ativo" selected>Ativo</option>
                        <option value="Inativo">Inativo</option>
                        {%- else -%}
                        <option value="Ativo">Ativo</option>
                        <option value="Inativo" Selected>Inativo</option>
                    {% endif %}
                </select>
            </div>

    </div>
      
        <div class="form-buttons">
            <button type="submit" class="btn ver">Atualizar Funcionario</button>

            <button type="button" class="btn deletar" id="deleteModal">Deletar Funcionario</button>
        </div>

    </form>

     

        
    <div class="modal-overlay">
        <div class="modal">
            <div class="modal-content">
                <div class="modal-info">
                    <h1>Voce esta prestes a excluir o registro de um Funcionario.</h1>
                </div>
                <div class="modal-aviso">
                    <h2>Isso ira excluir o registro do Funcionario {{FuncionariosAcademia.nome}} {{FuncionariosAcademia.sobrenome}} , Você tem certeza disso?</h2>
                </div>

                <div class="modal-buttons">
                    <a class="close_modal">
                        fechar
                    </a>
                    <form action="/dashboard/gerenciamento/Funcionarios/edit/{{FuncionariosAcademia._id}}?_method=DELETE" method="POST">
                        <button type="submit" class="btn">Sim, Deletar Funcionario</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    


{% endblock %}


{%block scripts%}
    <script src="/scripts/modal.js"></script>
{%endblock%}