{% extends "layout.njk" %}


{% block head %}
        <link rel="stylesheet" href="/styles/gerenciamento.css">
        <title>Acadmin - Gerenciamento</title>
{% endblock %}

{%block menu%}
    <aside>
        <nav class="ativo" id="left-menu">
            <ul>
                <li class="list">
                    <a href="/dashboard">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title">Home</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/dashboard/cadastro">
                        <span class="icon"><ion-icon name="person-add-outline"></ion-icon></span>
                        <span class="title">Cadastro</span>
                    </a>
                </li>
                <li class="list ">
                    <a href="/dashboard/agendamento">
                        <span class="icon"><ion-icon name="calendar-number-outline"></ion-icon></span>
                        <span class="title">Agendamento</span>
                    </a>
                </li>
                <li class="list active">
                    <a href="/dashboard/gerenciamento/funcionarios">
                        <span class="icon"><ion-icon name="business-outline"></ion-icon></span>
                        <span class="title">Gerenciamento</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/dashboard/financeiro">
                        <span class="icon"><ion-icon name="cash-outline"></ion-icon></span>
                        <span class="title">Financeiro</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/dashboard/relatorios">
                        <span class="icon"><ion-icon name="folder-outline"></ion-icon></span>
                        <span class="title">Relatorios</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/login">
                        <span class="icon"><ion-icon name="arrow-forward-circle-outline"></ion-icon></span>
                        <span class="title">Sair</span>
                    </a>
                </li>
            </ul>               
        </nav>
        <div class="open">></div>
    </aside>
{%endblock%}

{% block content %}
        <h1>Gerenciamento</h1>
        <div class="table-wrapper">
            <nav id="admin-menu">
                <ul>
                    <li><a href="/dashboard/gerenciamento/funcionarios" class="ativo">Funcionarios</a></li>
                    <li><a href="/dashboard/gerenciamento/clientes" >Clientes</a></li>
                    <li><a href="/dashboard/gerenciamento/instrutores" >Instrutores</a></li>
                </ul>
            </nav>

            <div class="title table-nav">
                <h1>Pesquisar</h1>

                <form class="search-form" role="search" method="POST" action="/dashboard/gerenciamento/funcionarios/search">
                <input type="search" name="searchTerm" class="search-input" placeholder="Search..." aria-label="Search">
                </form>

                <a href="/dashboard/cadastro/funcionario" class="add">+ Funcionario</a>
            </div>


            {% if FuncionariosAcademia.length > 0 %}

                {%block table%}


                        <div class="table-head">
                            <ul>
                                <li>Nome <div class="filter nome"></div></li>
                                <li>Email <div class="filter email"></div></li>
                                <li>Telefone <div class="filter telefone"></div></li>
                                <li>Status <div class="filter status"></div></li>
                                <li>Acões</li>
                            </ul>
                        </div>

                        <div class="table">
                            

                            {% for funcionario in FuncionariosAcademia %}

                                <div class="row">
                                    <ul>
                                        <li>{{funcionario.nome}} {{funcionario.sobrenome}}</li>
                                        <li>{{funcionario.email}}</li>
                                        <li>{{funcionario.telefone}}</li>
                                        <li>{{funcionario.status}}</li>

                                        <li class="actions">
                                            <a href="/dashboard/gerenciamento/funcionarios/ver/{{funcionario._id}}" class="ver act-btn"><ion-icon class="icon" name="eye-outline"></ion-icon> ver</a>

                                            <a class="editar act-btn" href="/dashboard/gerenciamento/funcionarios/edit/{{funcionario._id}}"><ion-icon class="icon"  name="pencil-outline"></ion-icon> Editar</a>

                                            
                                            
                                        <form action="/dashboard/gerenciamento/funcionarios/edit/{{funcionario._id}}?_method=DELETE" method="POST" class="position-relative">
                                            
                                            <button class="deletar act-btn" type="submit" class="btn btn-primary"><ion-icon class="icon" name="person-remove-outline"></ion-icon> Deletar </button>
                                        </form>
                                            
                                            
                                        </li>

                                    </ul>
                                </div>

                            {% endfor %}
                        

                            
                        </div>
                {%endblock%}


            {%else%}
            <div class="not-found">
                <h2>Nenhum Instrutor encontrado encontrado</h2>
            </div>
            {% endif %}
   
            
        </div>

{% endblock %}


