<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon"> 
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/login.css">
    <title>Acadmin - Login</title>
</head>
<body>
    <main>
       <div class="logo">
            <h1>ACADMIN</h1>
       </div>

        <div class="form-wrapper">
            <h1>Login</h1>

            {% for mensagem in msg%}

                <div class="alert-box deleted">
                    <p>{{mensagem}}</p>
                    <button class="close-alert"><ion-icon name="close"></ion-icon></button>
                </div>

            {% endfor %}

            <form method="POST" action="/login" id="form">
                <div class="input-wrapper">
                    <label for="email">Email </label>
                    <input type="text" required name="email" id="email" placeholder="seu@email.com">
                </div>
                
                <div class="input-wrapper">
                    <label for="senha">Senha </label>
                    <input type="password" required name="senha" id="senha" placeholder="senha">
                </div>

                <button type="submit" id="logar">Entrar</button>
                
                <a href="/esqueci_a_senha"  target="" rel="noopener noreferrer">Esqueci a senha</a>
            </form>
        </div>
    
    </main>


<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="/scripts/flashmsg.js"></script>

</body>
</html>