{% extends 'layout.njk' %}


{% block head %}
    <link rel="stylesheet" href="/styles/gerenciamento.css">
    <title>Acadmin - Agendamentos </title>
{% endblock %}


{%block menu%}
    <aside>
        <nav class="ativo" id="left-menu">
            <div class="logo">
                <img src="/img/acadmin3.png" alt="Acadmin Logo">
            </div>
            <ul>
                <li class="list ">
                    <a href="/acadmin">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title">Home</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/acadmin/cadastro">
                        <span class="icon"><ion-icon name="person-add-outline"></ion-icon></span>
                        <span class="title">Cadastro</span>
                    </a>
                </li>
                <li class="list active">
                    <a href="/acadmin/agendamento">
                        <span class="icon"><ion-icon name="calendar-number-outline"></ion-icon></span>
                        <span class="title">Agendamento</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/acadmin/gerenciamento">
                        <span class="icon"><ion-icon name="business-outline"></ion-icon></span>
                        <span class="title">Gerenciamento</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/acadmin/financeiro/pagamentos">
                        <span class="icon"><ion-icon name="cash-outline"></ion-icon></span>
                        <span class="title">Financeiro</span>
                    </a>
                </li>
                <li class="list">
                    <a href="#">
                        <span class="icon"><ion-icon name="arrow-forward-circle-outline"></ion-icon></span>
                        <span class="title">Sair</span>
                    </a>
                </li>
            </ul>               
        </nav>
        <div class="open">></div>
    </aside>
{%endblock%}

{%block content%}

        <h1 class='title'>Agendamentos</h1>
        <div class="table-wrapper agendamento">
            <div class="title table-nav">

               

                <form class="search-form" role="search" method="POST" action="/acadmin/agendamento/search">
                    <input type="search" name="searchTerm" class="search-input" placeholder="Search..." aria-label="Search">
                    <button type="submit" class="searchButton">
                        <ion-icon name="search-outline"></ion-icon>
                    </button>
                   
                </form>
                
                <a href="/acadmin/agendamento/criar/search/cliente" class="add">Novo Agendamento</a>
            </div>

            {% for mensagem in msg %}

                <div class="alert-box deleted">
                    <p>{{mensagem}}</p>
                    <button class="close-alert"><ion-icon name="close"></ion-icon></button>
                </div>

            {% endfor %}

         <div class="table-head agendamento">
            <ul>
                <li>Cliente</li>
                <li>Modalidade</li>
                <li>Instrutor</li>
                <li>Dia</li>
                <li> início </li>
                <li>Término </li>
                <li>Acões</li>
            </ul>
        </div>

        <div class="table">

            {% for agendamento in agendamentos%}

                <div class="row agendamento">
                <ul>
                    <li>{{agendamento.clienteNome}} </li>
                    <li>{{agendamento.modalidade}} </li>
                    <li>{{agendamento.instrutorNome}}</li>
                    <li>{{agendamento.dia}} </li>
                    <li>{{agendamento.horarioComeca}}</li>
                    <li>{{agendamento.horarioTermina}}</li>

                    <li class="actions">
                        <a href="/acadmin/agendamento/ver/{{agendamento._id}}" class="ver act-btn"><ion-icon class="icon" name="eye-outline"></ion-icon> ver</a>

                        <a class="editar act-btn" href="/acadmin/agendamento/edit/{{agendamento._id}}"><ion-icon class="icon"  name="pencil-outline"></ion-icon> Editar</a>

                        
                        
                    <form action="/acadmin/agendamento/edit/{{agendamento._id}}?_method=DELETE" method="POST" class="position-relative">
                        
                        <button class="deletar act-btn" type="submit" class="btn btn-primary"><ion-icon class="icon" name="trash-outline"></ion-icon> Deletar </button>
                    </form>
                    </li>

                </ul>
            </div>

            {% endfor %}
        </div>

{%endblock%}



{%block scripts%}
    <script src="/scripts/flashmsg.js"></script>
{%endblock%}