{% extends "layout.njk" %}



    {% block head %}
            <link rel="stylesheet" href="/styles/financeiro.css">
            <title>Acadmin - Financeiro</title>
    {% endblock %}

    {%block menu%}
    <aside>
        <nav class="ativo" id="left-menu">
            <div class="logo">
                <img src="/img/acadmin3.png" alt="Acadmin Logo">
            </div>
            <ul>
                <li class="list">
                    <a href="/dashboard">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title">Home</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/dashboard/cadastro">
                        <span class="icon"><ion-icon name="person-add-outline"></ion-icon></span>
                        <span class="title">Cadastro</span>
                    </a>
                </li>
                <li class="list ">
                    <a href="/dashboard/agendamento">
                        <span class="icon"><ion-icon name="calendar-number-outline"></ion-icon></span>
                        <span class="title">Agendamento</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/dashboard/gerenciamento">
                        <span class="icon"><ion-icon name="business-outline"></ion-icon></span>
                        <span class="title">Gerenciamento</span>
                    </a>
                </li>
                <li class="list active">
                    <a href="/dashboard/financeiro">
                        <span class="icon"><ion-icon name="cash-outline"></ion-icon></span>
                        <span class="title">Financeiro</span>
                    </a>
                </li>
                <li class="list ">
                    <a href="/dashboard/relatorios">
                        <span class="icon"><ion-icon name="folder-outline"></ion-icon></span>
                        <span class="title">Relatorios</span>
                    </a>
                </li>
                <li class="list">
                    <a href="#">
                        <span class="icon"><ion-icon name="arrow-forward-circle-outline"></ion-icon></span>
                        <span class="title">Sair</span>
                    </a>
                </li>
            </ul>               
        </nav>
        <div class="open">></div>
    </aside>
    {%endblock%}

    {%block content%}


        <div class="finance-wrapper">
         <h1>Financeiro</h1>


            <nav id="finance-menu">
                <ul>
                    <li><a href="/dashboard/financeiro/geral" class="ativo">Geral</a></li>
                    <li><a href="/dashboard/financeiro/pagamentos">Pagamentos</a></li>
                </ul>
            </nav>



            <div class="card-wrapper">
                <ul class="card">
                    <li class="label"><span>Entradas</span> <ion-icon class="icon  entrada" name="arrow-up-circle-outline"></ion-icon> </li>
                    <li class="valor entradas">{{entradaTotal}}</li>
                </ul>
                <ul class="card">
                    <li class="label"><span class="saidas">Saidas</span> <ion-icon class="icon saida" name="arrow-down-circle-outline"></ion-icon> </li>
                    <li class="valor saidas">{{saidaTotal}}</li>
                </ul>
                <ul class="card">
                    <li class="label"><span>Total</span> <ion-icon class="icon" name="wallet-outline"></ion-icon> </li>
                    <li class="valor total">{{total}}</li>
                </ul>
            </div>

            <form id="adicionar"  action="/dashboard/financeiro/financas/adicionar" method="POST">
            <div class="finance-add">
                <ul>
                    <li><span>Descrição</span> <input type="text" required  name="desc" id="desc"></li>
                    <li><span>Valor</span> <input type="number"  required name="valor" id="valor"></li>
                     <li>
                        <label for="data"><span>Data</span></label>
                        <input type="date" required name="data" id="data">
                    </li>
                    <li><span>Tipo</span>
                        <select name="tipo" required  id="tipo">
                            <option value="Entrada">Entrada</option>
                            <option value="Saida">Saida</option>
                        </select>
                    </li>
                   
                    <li><button id="btnNew">Adicionar</button></li>
                </ul>
            </div>
            </form>

            <div class="finance-table">
                <div class="finance-head">
                     <ul>
                        <li>Descrição <div class="filter-desc"></div></li>
                        <li>Valor<div class="filter-valor"></div></li>
                        <li>data <div class="filter-data"></div></li>
                        <li>Tipo <div class="filter-tipo"></div></li>
                        <li></li>
                </ul>
                </div>

                <div class="finance-rows">
                    
                    {% for financa in financas %}
                        <div class="row">
                            <ul>
                                <li>{{financa.desc}}</li>
                                <li><span class="cifrao">R$</span> {{financa.valor}}</li>
                                <li>{{financa.data}}</li>
                                
                                {% if financa.tipo == 'Saida' %}
                                    <li><ion-icon class="icon saida" name="arrow-down-circle-outline"></ion-icon></li>
                                    {% else %}
                                    <li><ion-icon class="icon entrada" name="arrow-up-circle-outline"></ion-icon></li>

                                {% endif %}
                                
                                <li class="actions">
                                    

                                    <form action="/dashboard/financeiro/financas/Remover/{{financa._id}}?_method=DELETE" method="POST" class="position-relative">
                        
                                        <button class="deletar act-btn" type="submit" class="btn btn-primary"><span class="deletar" ><ion-icon class="icon" name="trash-outline"></ion-icon> </span ></button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    {% endfor %}
                     

                   
                </div>
            </div>

                


        </div>
    {% endblock %}
