.finance-wrapper h1{
    padding: 20px 0;
}



/* finance menu */

#finance-menu{
    padding-bottom: 40px;
}
#finance-menu ul{
    display: flex;
    flex-direction: row;
    align-self: flex-start;

    width: 600px;
}

#finance-menu ul li{
    list-style: none;
    margin-right: 5px;
}
#finance-menu ul li a{
    text-decoration: none;
    padding: 5px;

    background-color: white;
    color: black;
    border: 1px solid green;
}
#finance-menu ul li a.ativo{
    background-color: teal;
    color: white;
}


/* card */



.card-wrapper{
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;

    gap: 40px;

    justify-content: space-between;
    align-content: center;
}


.card-wrapper .card{
    border-radius: 5px;
    background-color: whitesmoke;

    border: 1px solid #A1D7D7;
    border-left: 5px solid teal;
    padding: 30px;
    

}

.card-wrapper .card li{
    list-style: none;
    font-size: 1.5em;
}
.card-wrapper .card .label{
    display: flex;

    justify-content: space-between;
}
.card-wrapper .card .label .icon{
    font-size: 2em;
    
}
 .entrada {
    color: green;
}
.saida{
    color: red;
}
.card-wrapper .card .valor{
    font-weight: bold;
}
.card-wrapper .card .cifrao{
    padding-right: 10px;
}


/* table */
.finance-table{
    padding: 30px 0;
}
.finance-table .finance-head ul{
    display: grid;

    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr;

    width: 100%;
    background-color: whitesmoke;
    /* background-color: #A1D7D7; */

    border: 1px solid #444;
    color: black;
    border-top-left-radius: 5px ;
    border-top-right-radius: 5px;
}
.finance-head{
    border-bottom: 2px solid #444;
}
.finance-head ul li{
    list-style: none;

    list-style: none;
    padding: 10px;

    font-weight: bold;

    font-size: 1.25em;

    /* border-right: 2px solid teal; */

}
.finance-rows .row ul{
    display: grid;

    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr;
    width: 100%;
    background-color: #f5f5f5;
    
    color: black;
    border-top-left-radius: 5px ;
    border-top-right-radius: 5px;
}
.finance-rows .row ul li{
    list-style: none;
    padding: 10px;
    
    font-size: 1.125em;
    
/* 
    border-right: 2px solid teal; */
}

.finance-rows .row ul li .icon{
    font-size: 1.5em;
}


/* finance add */

.finance-add {
    padding: 20px 0;
}

.finance-add ul{
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    background-color: whitesmoke;
    border: 1px solid #A1D7D7;

    color: black;

    border-radius: 5px;
    gap:  0 15px;
    padding: 20px;
    align-items: center;
}
.finance-add ul li{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
}
.finance-add ul li{
    list-style: none;
    
}
.finance-add ul li span{
    padding-right: 5px;
    
    font-weight: bold;
}

.finance-add ul li button{
    border: none;
    background-color: teal;

    color: white;
    padding: 10px;
}
.finance-add ul li select{
    width: 70%;
}

