.table-wrapper{
    /* background-color: whitesmoke; */
    color: black;
    
    border-radius: 5px;
    
    animation: moving .5s ease; 

    padding: 10px 0;
}


#admin-menu{
    padding-bottom: 40px;
}
#admin-menu ul{
    display: flex;
    flex-direction: row;
    align-self: flex-start;

    width: 600px;
}

#admin-menu ul li{
    list-style: none;
    margin-right: 5px;
}
#admin-menu ul li a{
    text-decoration: none;
    padding: 5px;

    background-color: white;
    color: black;
    border: 1px solid green;
}
#admin-menu ul li a.ativo{
    background-color: teal;
    color: white;
}


/* table */
.table-head {
    border-bottom: 3px solid teal;
}
.table-head ul{
    display: grid;

    grid-template-columns: 1fr 1.5fr 1.5fr 1fr 1fr 2fr;

    width: 100%;
    background-color: #444;

    color: white;
    border-top-left-radius: 5px ;
    border-top-right-radius: 5px;
}
.table-head ul li{
    list-style: none;
    padding: 10px;
    /* border-right: 2px solid #ccc; */
}
.table-head ul li:nth-last-child(1), .row ul li:nth-last-child(1){
    border-right: 0;
}

.row{
    border: 2px solid #ccc;
  
}
.row ul{
    display: grid;

    grid-template-columns: 1fr 1.5fr 1.5fr 1fr 1fr 2fr;

    width: 100%;

    border-radius: none;
    background-color: whitesmoke;

    color: black;
}

.row ul li{
    list-style: none;
    border-right: 2px solid #ccc;
    
    padding: 10px;
}


/* actions */
.actions{
    display: flex;
    justify-content: flex-end;
    /* align-items: center;
    justify-items: center; */
    gap: 0 5px;
}
.actions button{
    display: flex;
    align-items: center;
    justify-items: center;
    
}
.actions button .icon{
    font-size: 1.25em;
    padding: 0 5px;
}