.table-container{
    padding: 30px 0;
}

.table-rows .row{
    border-bottom: none;
    display: grid;

    grid-template-columns: 200px 1fr;
    width: 100%;

    color: black;

    padding: 10px;
    
}

.table-rows .row:nth-last-child(1){
    border-bottom: 2px solid #ccc;
}
.table-rows .row .col-title{
    font-weight: bold;
}
.table-rows .row ul li{
    list-style: none;
    padding: 10px;
    
    font-size: 1.125em;
    

}

.table-rows .row ul li .icon{
    font-size: 1.5em;
}

/* ver  menu */
hr{
    margin: 10px 0;
    outline: none;
    color: whitesmoke;
}
.ver-menu.relatorio{
    padding: 20px 0;
}
.ver-menu ul {
    display: inline-flex;
    
}

.ver-menu ul li{
    list-style: none;
}
.ver-menu ul li a{
    
    padding: 5px;
    margin-right: 5px;
    color: teal;
}

.ver-menu span{
    display: flex;
    justify-content: flex-end;
}
.ver-menu .editar{
    padding: 5px;

    color: black;

    
}
