<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatorio Financeiro</title>
    
    <link rel="stylesheet" href="/styles/relatorioModel.css">
   
</head>
<body>
    
    <h1>Relatorio financeiro Saidas</h1>

    <div class="finance-table">

            <div class="finance-head">
                     <ul>
                        <li>Descrição <div class="filter-desc"></div></li>
                        <li>Valor<div class="filter-valor"></div></li>
                        <li>data <div class="filter-data"></div></li>
                        <li>Tipo <div class="filter-tipo"></div></li>
                        <li></li>
                </ul>
            </div>

                <div class="finance-rows">
                    
                         <div class="row">
                            <ul>
                                <li>Salario</li>
                                <li><span class="cifrao">R$</span> 4000</li>
                                <li>02/01/2023</li>
                                
                                
                                    <li><ion-icon class="icon saida md hydrated" name="arrow-down-circle-outline" role="img" aria-label="arrow down circle outline"></ion-icon></li>
                                    
                                
                            </ul>
                        </div>


                    
                   
                    
                </div>
    </div>
        
</body>
</html>