<!DOCTYPE html5>
<html>
<head>
	<title>Boleto</title>
	<link rel="stylesheet" href="/styles/boleto.css">
</head>
<body>
	<div class="boleto-container">
		<div class="boleto">
			<div class="boleto__header">
				<div class="boleto__logo">Logo</div>
				<div>Boleto bancário</div>
			</div>
			<div class="boleto__barcode">
				<img src="https://barcode.tec-it.com/barcode.ashx?data=12345678901234567890123456789012345678901234&amp;code=Code128&amp;dpi=96&amp;dataseparator=" alt="Código de barras do boleto">
			</div>
			<div class="boleto__details">
				<div class="boleto__details__item">Vencimento: 30/05/2023</div>
				<div class="boleto__details__item">Valor: R$ 100,00</div>
			</div>
			<div class="boleto__instructions">
				<p>Pagável em qualquer banco até o vencimento.</p>
				<p>Após o vencimento, acrescer juros de 1% ao mês e multa de 2% sobre o valor total.</p>
			</div>
		</div>
	</div>
</body>
</html>
