<div class="row">
    <ul>
        <li class="row-id">1</li>
        <li class="row-name">felipe souza</li>
        <li class="row-email">felipe1@gmail.com</li>
        <li class="row-tel">(21) 969459817</li>
        <li class="row-cpf">001.062.143-51</li>
        <li class="row-status">ativo</li>
        <li class="actions">
            <button class="ver"><ion-icon class="icon" name="eye-outline"></ion-icon> ver</button>
            <button class="editar"><ion-icon class="icon"  name="pencil-outline"></ion-icon> Editar</button>
            <button class="deletar"><ion-icon class="icon" name="person-remove-outline"></ion-icon> Deletar</button>
        </li>
    </ul>
</div>