

 <div class="table-head">
            <ul>
                <li>Nome <div class="filter nome"></div></li>
                <li>Email <div class="filter email"></div></li>
                <li>Telefone <div class="filter telefone"></div></li>
                <li>Status <div class="filter status"></div></li>
                <li>Acões</li>
            </ul>
        </div>

        <div class="table">
            
            {%block rows%}
            
            {%endblock %}




        </div>